<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Rafael José | Portfolio{% endblock %}</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel = "stylesheet" href = "{% static 'css/base.css' %}">

    {% block extra_styles %}{% endblock %}
</head>
<body>

    <header>
        <div class="header-content">
            <h1>Rafael José</h1>
            <nav>
                <a href="{% url 'portfolio:index' %}">Home</a>
                <a href="{% url 'portfolio:sobre' %}">Architecture</a>
                <a href="{% url 'portfolio:interesses' %}">Interests</a>
                <a href="{% url 'portfolio:projetos' %}">Projects</a>
                <a href="{% url 'portfolio:tecnologias' %}">Tools</a>
                <a href="{% url 'portfolio:cv' %}">CV</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="content">
            {% block main %}
            {% endblock %}
        </div>
    </main>

    <footer>
        <p>&copy; {{ data }} Rafael José, ManfelDev.</p>
    </footer>

</body>
</html>