{% extends 'portfolio/base.html' %}

{% load static %}
{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css_portfolio/form.css' %}">
{% endblock %}

{% block main %}

<h2>New Technology</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    <div class="button-wrapper" style="margin-bottom: 0px;">
        <input type="submit" value="Save">
    </div>
</form>

{% endblock %}