{% extends 'artigos/base.html' %}

{% block content %}
<h2>Edit Post</h2>

<form method="post" enctype="multipart/form-data" action="{% url 'artigos:edita_post' post.id %}">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-row">
            {{ field.label_tag }}
            {{ field }}
        </div>
    {% endfor %}

    <input type="submit" value="Save" class="custom-button">
    <a href="{% url 'artigos:post_path' post.id %}" class="button">Cancel</a>
    <a href="{% url 'artigos:apaga_post' post.id %}" class="button">Delete Post</a>
</form>
{% endblock %}